* {
    font-family: "Montserrat", sans-serif;
}

.inter {
    font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.container {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

#publicNavbar {
    flex-basis: auto;
    justify-content: end;
    gap: 16px;
}